doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/vars.css')
  link(rel='stylesheet' href='/stylesheets/style.css')
  style.
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    -webkit-font-smoothing: antialiased;
    }
    menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
  title Document
.account
  .frame-5
    .frame-21
      .div &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy; &Icy;&vcy;&acy;&ncy;&acy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;&acy;
    .button
      .frame
        img.group(src='/images/svg/group0.svg')
        .ellipse-18
        .ellipse-11
        .ellipse-14
        .ellipse-12
        .ellipse-15
        .ellipse-17
        img.vector(src='/images/svg/vector0.svg')
      .div2
        | &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy;
        br
        |           &vcy; &pcy;&iecy;&scy;&ocy;&chcy;&ncy;&icy;&tscy;&ucy;
  .button2
    .div3 &Scy;&ocy;&zcy;&dcy;&acy;&tcy;&softcy; &pcy;&iecy;&scy;&ocy;&chcy;&ncy;&icy;&tscy;&ucy;
  .div4 &Pcy;&iecy;&scy;&ocy;&chcy;&ncy;&icy;&tscy;&ycy;
  .frame-117
    .frame-115
      .frame-119
        .frame2
          img.group2(src='/images/svg/group1.svg')
          img.frame-108(src='/images/svg/frame-1080.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-120
        .frame2
          img.group3(src='/images/svg/group2.svg')
          img.frame-1082(src='/images/svg/frame-1081.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-121
        .frame2
          img.group4(src='/images/svg/group3.svg')
          img.frame-1083(src='/images/svg/frame-1082.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-122
        .frame2
          img.group5(src='/images/svg/group4.svg')
          img.frame-1084(src='/images/svg/frame-1083.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-123
        .frame2
          img.group6(src='/images/svg/group5.svg')
          img.frame-1085(src='/images/svg/frame-1084.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-124
        .frame2
          img.group7(src='/images/svg/group6.svg')
          img.frame-1086(src='/images/svg/frame-1085.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-125
        .frame2
          img.group8(src='/images/svg/group7.svg')
          img.frame-1087(src='/images/svg/frame-1086.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-126
        .frame2
          img.group9(src='/images/svg/group8.svg')
          img.frame-1088(src='/images/svg/frame-1087.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-127
        .frame2
          img.group10(src='/images/svg/group9.svg')
          img.frame-1089(src='/images/svg/frame-1088.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-128
        .frame2
          img.group11(src='/images/svg/group10.svg')
          img.frame-10810(src='/images/svg/frame-1089.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
    .frame-1192
      .frame-120
        .frame2
          img.group12(src='/images/svg/group11.svg')
          img.frame-10811(src='/images/svg/frame-10810.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-119
        .frame2
          img.group13(src='/images/svg/group12.svg')
          img.frame-10812(src='/images/svg/frame-10811.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-122
        .frame2
          img.group14(src='/images/svg/group13.svg')
          img.frame-10813(src='/images/svg/frame-10812.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-121
        .frame2
          img.group15(src='/images/svg/group14.svg')
          img.frame-10814(src='frame-10813.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-124
        .frame2
          img.group16(src='group15.svg')
          img.frame-10815(src='frame-10814.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-123
        .frame2
          img.group17(src='group16.svg')
          img.frame-10816(src='frame-10815.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-125
        .frame2
          img.group18(src='group17.svg')
          img.frame-10817(src='frame-10816.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-128
        .frame2
          img.group19(src='group18.svg')
          img.frame-10818(src='frame-10817.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-126
        .frame2
          img.group20(src='group19.svg')
          img.frame-10819(src='frame-10818.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-127
        .frame2
          img.group21(src='group20.svg')
          img.frame-10820(src='frame-10819.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
    .frame-1202
      .frame-121
        .frame2
          img.group22(src='group21.svg')
          img.frame-10821(src='frame-10820.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-120
        .frame2
          img.group23(src='group22.svg')
          img.frame-10822(src='frame-10821.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-119
        .frame2
          img.group24(src='group23.svg')
          img.frame-10823(src='frame-10822.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-122
        .frame2
          img.group25(src='group24.svg')
          img.frame-10824(src='frame-10823.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-128
        .frame2
          img.group26(src='group25.svg')
          img.frame-10825(src='frame-10824.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-124
        .frame2
          img.group27(src='group26.svg')
          img.frame-10826(src='frame-10825.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-123
        .frame2
          img.group28(src='group27.svg')
          img.frame-10827(src='frame-10826.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-125
        .frame2
          img.group29(src='group28.svg')
          img.frame-10828(src='frame-10827.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-126
        .frame2
          img.group30(src='group29.svg')
          img.frame-10829(src='frame-10828.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-127
        .frame2
          img.group31(src='group30.svg')
          img.frame-10830(src='frame-10829.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
    .frame-1212
      .frame-120
        .frame2
          img.group32(src='group31.svg')
          img.frame-10831(src='frame-10830.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-119
        .frame2
          img.group33(src='group32.svg')
          img.frame-10832(src='frame-10831.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-127
        .frame2
          img.group34(src='group33.svg')
          img.frame-10833(src='frame-10832.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-122
        .frame2
          img.group35(src='group34.svg')
          img.frame-10834(src='frame-10833.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-123
        .frame2
          img.group36(src='group35.svg')
          img.frame-10835(src='frame-10834.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
      .frame-128
        .frame2
          img.group37(src='group36.svg')
          img.frame-10836(src='frame-10835.svg')
        .div5 &IEcy;&lcy;&iecy;&ncy;&acy;
      .frame-124
        .frame2
          img.group38(src='group37.svg')
          img.frame-10837(src='frame-10836.svg')
        .div5 &Vcy;&acy;&rcy;&vcy;&acy;&rcy;&acy;
      .frame-121
        .frame2
          img.group39(src='group38.svg')
          img.frame-10838(src='frame-10837.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-125
        .frame2
          img.group40(src='group39.svg')
          img.frame-10839(src='frame-10838.svg')
        .div5 &Kcy;&ocy;&ncy;&scy;&tcy;&acy;&ncy;&tcy;&icy;&ncy;
      .frame-126
        .frame2
          img.group41(src='group40.svg')
          img.frame-10840(src='frame-10839.svg')
        .div5 &Mcy;&icy;&khcy;&acy;&icy;&lcy;
